@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  background-color: #435172;
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: #2B3245;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body,
html {
  height: auto;
  font-family: 'Roboto', sans-serif !important;


}

* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}

.header a {
  color: white;
}

.maincontainer {
  width: 100%;
  height: 100vh;
  background: #252a41;
  position: relative;
}

.typewrite {
  /* color: black; */
  font-weight: 800;
}

.imgslider {
  width: 100%;
}

.container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}

.container h1 span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

.container h1 span.cursor.typing {
  animation: none;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }

  49% {
    background-color: #ccc;
  }

  50% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }

  100% {
    background-color: #ccc;
  }
}


.header {
  height: 70px;
  border-bottom: 1px solid #545c8430;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all;
  z-index: 999;
  overflow: hidden;
}

.darker {
  background-color: #252a41;
}

.notsodarker {
  background-color: #252a419b;

}

.hamburguerdiv {
  display: none;
}

.mainflexc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url('./images/stars-train.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  flex-direction: column;
}

.mainflexc h1 {
  font-size: 70px;
  color: white;
}

.divhlists a:hover {
  color: #2584f9 !important;
  transition: 0.2s all;
}

.imagemlogo {
  width: 50px !important;
}

.button-74 a {
  color: white;
}

.divlogoc {
  width: 50%;
  /* height: 100%; */
  display: flex;
  align-items: center;

}

.divhlists {
  width: 50%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.groupdivb {
  margin-top: 30px;
}

.groupdivb button {
  width: 300px;
  margin-right: 30px;
  height: 50px;
  background-color: #545c84ab;
  border-radius: 15px;
  border-color: 1px solid #252a41;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.containerlogo {
  width: 55px;
  height: 55px;
  border-radius: 50px;

}

.divhlists ul {
  display: inline-block;
}

.divhlists li {
  display: inline;
  font-size: 23px;
  color: white;
  margin-right: 40px;
}

.secc {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secc h1 {
  margin-top: 100px;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  padding-bottom: 20px;
}

.headerwidth {
  width: 1300px;
  height: 100%;
  transition: 0.2s all;
  display: flex;
  position: relative;
  margin-top: 15px;
  flex-direction: column;
}

.secondcontainer {
  min-height: 1400px;
  height: auto;
  background-color: #252a41;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  /* padding-bottom: 50px; */

}

.fullsec {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 50px;
  position: relative;
  justify-content: center;
  /* align-items: center; */
}

.fulsec1 {
  width: 50%;
  background-color: transparent;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.fulsec2 {
  width: 50%;
  background-color: white;
  border-radius: 20px;
  height: auto;
  z-index: 2;
}

.pointdivsab {
  width: 150px;
  height: 150px;
  /* background-color: red; */
  position: absolute;
  right: -75px;
  top: 0;
}

.pointdivsab2 {
  width: 150px;
  height: 150px;
  /* background-color: red; */
  position: absolute;
  left: 0px;
  bottom: -320px;
}

.pointdivsab2 img {
  width: 100%;
}

.pointdivsab img {
  width: 100%;
}

.gamcontainer {
  width: 600px;
  /* background-color: red; */
  height: 100%;
}

.secondfilterdiv,
.secondpointdivsab {
  display: none;
}

.divgamct {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  margin-top: 150px;
}

.divgamct h3 {
  font-size: 35px;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 5px;

}

.divgamct span {
  font-family: 'Nunito Sans', sans-serif;
  margin-top: 5px;
  color: #828493;
}

.inputdiv {
  width: 100%;
  height: auto;
  margin-top: 30px;
  position: relative;

}

.inputdiv input {
  background-color: #3b3f54;
  height: 70px;
  width: 100%;
  border: none;
  border-radius: 20px;
  outline: none;
  padding-left: 60px;
  font-size: 18px;
  color: white;
  padding-top: 3px;
}

.inputdiv input::placeholder {
  color: rgba(255, 255, 255, 0.875);

}

.inputdiv img {
  position: absolute;
  top: 24px;
  left: 20px;
  width: 25px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(163deg) brightness(104%) contrast(102%);
}

.projectsdiv {
  width: 100%;
  height: auto;
  margin-top: 50px;
  position: relative;
}

.projectsdiv h4 {
  font-size: 25px;
  color: white;
}

.titleproject {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;

}

.gridprojects {
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.509); */
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 20px;
  row-gap: 100px;
}

.grid {
  background-color: white;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.menumobilediv {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.539);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 600;
}

.menumobiledev {
  width: 100%;
  height: 100px;
  background-color: red;
  display: block;
  margin-top: 20px;
  z-index: 20;

}

.menumobiledev li {
  font-size: 18px;
  list-style: none;
  color: white;
}

.gridprojects div {
  height: 160px;
}

.spanmainflex {
  font-size: 20px;
  color: white;
  font-family: 'Nunito Sans', sans-serif;

}

.grid:hover {
  transform: scale(1.05);
  transition: 0.2s transform;
}

.grid1 {
  background-image: url('./images/q2.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.grid2 {
  background-image: url('./images/qt1.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.grid3 {
  background-image: url('./images/q3.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.grid4 {
  background-image: url('./images/q4.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.grid5 {
  background-image: url('./images/q5.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.aumento {
  height: 170px;
  align-items: flex-start;
  padding-bottom: 20px;

}

.grid6 {
  background-color: #3b3f54;
}

.foragrid {
  position: absolute;
  bottom: -50px;
  color: #828493;

}

.insidegrid {
  color: white;
  font-size: 35px;
}

.fulsec2 h1 {
  color: black;
}

.fulsec2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktopm {
  display: flex;
  width: 100%;
  height: 100%;
}

.fulsec2container {
  width: 80%;
}

.paragraphfulsec2 {
  max-width: 550px;
  color: #828493;
  font-family: 'Nunito Sans', sans-serif;
  margin-top: 20px;
}

.fulsec2 {
  font-family: 'Nunito Sans', sans-serif;

}

.fulsec2container h5 {
  font-size: 30px;
  margin-top: 50px;
}

.headerfulsec2 {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  /* background-color: red; */
  justify-content: space-between;
  margin-top: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(220, 220, 220, 0.748);
}

.tresp {
  width: 30px;
  filter: invert(89%) sepia(0%) saturate(0%) hue-rotate(140deg) brightness(97%) contrast(97%);


}

.todayspan {
  font-size: 18px;
  color: black;
}

.columndivmain {
  width: 100%;
  height: 50px;
  background-color: transparent;
  /* border: 1px solid black; */
  display: flex;
}

.columnscontainer {
  margin-top: 30px;
}

.enddiv {
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 130px;
  margin-top: 50px;
}

.adcbutton {
  width: 80px;
  height: 80px;
  background-color: #894ec6;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s all;
}

.adcbutton:hover {
  background-color: #8425e3;
}

.columnf1 {
  width: 7%;
  height: 100%;
  /* background-color: red;  */
  display: flex;
  justify-content: center;
  align-items: center;
}

.columnf2 {
  height: 100%;
  width: 73%;
  /* background-color: #3b3f54; */
  display: flex;
  align-items: center;
}

.columnf2 p {
  margin-left: 10px;
  color: #7e7f88;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

.columnf3 {
  height: 100%;
  width: 20%;
  /* background-color: yellow; */
}

.bolacheck {
  width: 30px;
  height: 30px;
  background-color: #34d8d5;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.bolacheckn {
  width: 30px;
  height: 30px;
  border-radius: 40px;
  border: 1px solid #d5d6d8fe;
}

.bolacheck img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(163deg) brightness(104%) contrast(102%);
  width: 20px;
}

.statusdiv {
  width: 100%;
  height: 70%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  background-color: #e0f5f5;
}

.blue {
  background-color: #e4effe;
}

.laranja {
  background-color: #fdeee8;
}

.cinza {
  background-color: #eceef0;
}

.spangreen {
  color: #33dad8;
}

.spanorange {
  color: #edab98;
}

.spanblue {
  color: #78b1f6;
}

.spancinza {
  color: #b4b9c5
}

.adcbutton img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(163deg) brightness(104%) contrast(102%);
  width: 25px;
}

.button-74 {
  background-color: #3b3f54;
  border: 2px solid #3b3f54;
  border-radius: 30px;
  box-shadow: #3b3f54 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.5s all;
}

.button-74:hover {
  background-color: #3b3f54;
}

.spanmaked {
  color: #a4ccfd;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.filterdiv label {
  display: flex !important;
  flex-direction: column !important;
  width: 30px !important;
  cursor: pointer;
}

.filterdiv label span {
  background: #fff !important;
  border-radius: 10px !important;
  height: 7px !important;
  margin: 7px 0 !important;
  transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6) !important;

}


.filterdiv span:nth-of-type(1) {
  width: 50% !important;

}

.filterdiv span:nth-of-type(2) {
  width: 100% !important;
}


.filterdiv span:nth-of-type(3) {
  width: 75% !important;

}


.filterdiv input[type="checkbox"] {
  display: none !important;
}


.filterdiv input[type="checkbox"]:checked~span:nth-of-type(1) {
  transform-origin: bottom !important;
  transform: rotatez(45deg) translate(8px, 0px) !important;
}


.filterdiv input[type="checkbox"]:checked~span:nth-of-type(2) {

  transform-origin: top !important;
  transform: rotatez(-45deg) !important;
}

.filterdiv input[type="checkbox"]:checked~span:nth-of-type(3) {
  transform-origin: bottom !important;
  width: 50% !important;
  transform: translate(30px, -11px) rotatez(45deg) !important;

}

.html {
  color: orange;
}

.css {
  color: #33dad8;
}

.canva {
  color: #894ec6;
}

.filterdiv {
  width: 60px;
  height: 50px;
  background-color: #3b3f54;
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 20px;
  left: 0;
  top: 0;
}

.thirdcontainer {
  width: 100%;
  background-color: #1f2336;
  height: auto;
}

.thirdcmh {
  width: 100%;
  height: auto;
  display: flex;
  /* padding-bottom: 50px; */
  align-items: center;
  flex-direction: column;
  min-height: 1200px;
}

.thirdcmh h1 {
  margin-top: 100px;
  color: white;
  font-family: 'Nunito Sans', sans-serif;

}

.testediv {
  width: 100%;
  display: flex;
  margin-top: 50px;
  flex-direction: column;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
}

.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-16px);
}

.menu-btn__burger::after {
  transform: translateY(16px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.flext1 {
  width: 100%;
  /* background-color: red; */
  height: auto;
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
}

.flext1 p {
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  font-size: 20px;
  /* line-height: 30px; */
  letter-spacing: 2px;
  width: 100%;
  margin-top: 50px;

}

.flext1c {
  width: 90%;
  flex-direction: column-reverse !important;
  display: flex;
  /* background-color: red; */
}

.flext2 {
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
  width: 100%;
}

.flext2 h1 {
  margin: 0;
}

.containerleanguagesstatus {
  width: 90%;
  /* background-color: red; */
  height: 100%;
}

.ldiv {
  height: 50px;
  width: 100%;
  /* background-color: rebeccapurple; */
  margin-top: 20px;
}

.loadcontainer {
  width: 100%;
  height: 4px;
  background-color: #3b3f54;
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.taskspan {
  font-size: 20px;
  color: white;
}

.loader {
  width: 85%;
  transition: 0.5s all;
}

.l1 {
  background-color: #78b1f6;
}

.l2 {
  width: 60%;
  background-color: #fb35a5;
}

.l3 {
  background-color: #6f41be;
  width: 75%;
}

.l4 {
  width: 55%;
  background-color: #2fd4a3;
}

.interests h3 {
  color: white;
  font-size: 25px;
}

.interests {
  margin-top: 20px;
}

.lgimsc {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  /* margin-top: 50px; */

}

.gridlg {
  height: 200px;
  border-radius: 20px;

}

.gridlg1 {
  background-color: #3b3f54 !important;
  background: url('./images//node.svg');
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center center;
}

.gridlg2 {
  background-color: #3b3f54 !important;
  background: url('./images/react.svg');
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center center;
}

.gridlg img {
  width: 100%;
}

.languagesdivs {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.languagesdivsc {
  width: 90%;
  height: 100%;
  /* background-color: #252a41; */
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spanvoador {
  position: absolute;
  color: #b4b9c5;
  width: fit-content !important;
  opacity: 0.2;
  cursor: default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.spanvoador:active {
  cursor: not-allowed;

}

.s1 {
  top: 50px;
  left: 150px;
  font-size: 17px;
}

.s2 {
  bottom: 50px;
  left: 200px;
  font-size: 25px;

}

.s3 {
  top: 100px;
  font-size: 25px;
  left: 450px;
}

.s4 {
  bottom: 70px;
  font-size: 24px;
  left: 600px;
}

.s5 {
  bottom: 00px;
  font-size: 20px;
  left: 900px;
}

.s6 {
  top: 0px;
  font-size: 20px;
  right: 950px;
}

.s7 {
  bottom: 60px;
  right: 200px;
  font-size: 18px;

}

.s8 {
  bottom: 120px;
  right: 500px;
  font-size: 20px;

}

.s9 {
  top: 80px;
  right: 270px;
  font-size: 20px;

}

.maincontainersvgslanguanges {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.maincontainersvgslanguanges div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon1 {
  width: 35%;
}

.icon2 {
  width: 25%;
}

.icon3 {
  width: 30%;
}

.icon4 {
  width: 30%;
}

.fourthc {
  width: 100%;
  background-color: #252a41;
  min-height: 1150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

}
.blackscreenp{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 333;
  display: none;
  background-color: rgba(0, 0, 0, 0.504);
}
.projectsinput{
  cursor: not-allowed;
}
.blockscreenp{
  display: block !important;
}
.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 1px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 2px;
  width: 100%;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 2px;
  width: 100%;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 100%; }
}

@keyframes animacao {
  from{opacity: 1;}
  to{opacity: 0;}
}

.sucessbox {
  width: 100%;
  background-color: transparent;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 555;
}
.fecharsvg{
  position: absolute;
  right: 30px;
  top: 20px;
  cursor: pointer;
}
.blockscreenp1{
  display: flex !important;
}
.sucessboxflex{
  width: 800px;
  height:300px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 888;
  /* justify-content: center; */
}
.paragraphmsgemail{
  letter-spacing: 1.5px;
}
.divparagraphe{
  width: 90%;
  margin-top: 30px;
}
.success-animation { margin-top: 30px;}

.checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
    top: 5px;
    right: 5px;
   margin: 0 auto;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
 
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}
.fourthcontainer {
  width: 90%;
  position: relative;
}

.fourthh1 {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 100px;
}

.tworowsform {
  width: 100%;
  display: flex;
  height: auto;
}

.fourthh1 form {
  width: 100%;
}

.containerformf {
  width: 100%;
  margin-top: 50px;

}

.onerowform {
  width: 100%;
  margin-top: 30px;
}

.tworowsform input {
  width: 50% !important;
  background-color: #1f2336;
  border: none;
  outline: none;
  color: white;
  border-left: 5px solid #b4b9c5;
  height: 60px;
  font-size: 18px;
  padding-left: 20px;
}

.marginrito {
  margin-right: 50px;
}

.onerowform input {
  width: calc(100% - 20px);
  height: 60px;
  background-color: #1f2336;
  border: none;
  outline: none;
  padding-left: 20px;
  color: white;
  border-left: 5px solid #b4b9c5;
  font-size: 18px;
}

.onerowform textarea {
  width: calc(100% - 20px);
  height: 200px;
  background-color: #1f2336;
  border: none;
  padding-left: 20px;
  outline: none;
  resize: none;
  color: white;
  font-size: 18px;
  border-left: 5px solid #b4b9c5;

}

.tworowsform input::placeholder {
  font-size: 18px;
}

.onerowform input::placeholder {
  font-size: 18px;
}

.onerowform textarea::placeholder {
  font-size: 18px;
}

.onerowform {
  overflow: visible;
}

.onerowform textarea {
  font-size: 15px;
  /* padding-left: 20px !important; */
}

.contactps {
  margin-top: 50px;
  width: 100%;
}

.contactps p {
  color: #b4b9c5;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  text-align: center;
}

.onebuttonform {
  margin-top: 20px;
  width: 100%;
}

.butaum {
  background-color: #3b3f54;
  width: 300px;
  height: 50px;
  color: white;
  font-size: 18px;
  border: none;
  border-left: 5px solid #b4b9c5;
  cursor: not-allowed;
}

.err0r {
  border-left: 5px solid red !important;
}

.sucess {
  border-left: 5px solid #2fd4a3 !important;
}

.btnv:hover {
  cursor: pointer;
  background-color: #2584f9;
  transition: 0.2s all;
}

.formspanc {
  color: #2584f9;
}

.minimizedheader {
  top: -70px;
}

.footer {
  height: 100px;
  background-color: #1f2336;
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
}

.footer1 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer2 {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.marginf {
  width: 90%;
  display: flex;
  height: 100%;
}

.footer1 h4 {
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
}

.quadradocontainer {
  width: 50px;
  height: 50px;
  background-color: #2B3245;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 10px;
}

.quadradocontainer:hover {
  background-color: #2584f9;
  transition: 0.2s all;
  cursor: pointer;
}

.quadradocontainerl {
  margin-right: 0;
}

.maincpjts {
  width: 100%;
  min-height: 100vh;
  background-color: #252a41;
  display: flex;
  justify-content: center;
  align-items: center;
}

.childmaindiv {
  width: 90%;
  height: 90%;
  /* background-color: red; */
}

.titlechild {
  font-size: 30px;
  color: white;
}

.spancontainer {
  width: 100%;
  /* background-color: rgb(0, 229, 255); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;

}

.containerimgc {
  width: 100%;
  /* height: 600px; */
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.imgdivc {
  width: 1100px;
  border-radius: 20px;
}

.parahraphcontainer {
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

.flexparagraph {
  width: 1100px;
  /* background-color: rebeccapurple; */
  color: #b4b9c5;
  margin-top: 20px;
  /* text-align: center; */
}

.projectsheader {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2336;
}

.divhlists span {
  color: white;
}

.home {
  color: white;
  font-size: 20px;
}

.imgdivc img {
  height: 100%;
  border-radius: 20px;
  width: 100%;
}

.imgdivh2,
.textdivh2 {
  width: 50%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.textdivh2 {
  justify-content: flex-end;
}

.imgdivh2 img {
  width: 50px;
}

.headerwidth2 {
  width: 63.5%;
  height: 100%;
  /* background-color: red; */
  display: flex;
}

.spanut {
  margin-top: 10px;
  display: inline-block;
  color: white;
}

.react {
  color: #2584f9;
}

.node {
  color: #2fd4a3;
}

.sql {
  color: #a4ccfd;
}

.js {
  color: gold;
}

.btnp {
  width: 300px;
  margin-right: 30px;
  height: 50px;
  background-color: #545c84ab;
  border-radius: 15px;
  border-color: 1px solid #252a41;
  font-size: 20px;
  color: white;
  cursor: not-allowed !important;
  margin-top: 20px;
}

.linksite {
  width: auto;
  height: auto;

}

.btngrpf {
  justify-content: space-between;
  display: flex;
}

.full {
  width: 90%;
  height: 20%;
}

.headerf {
  width: 100%;
  background-color: #1f2336;
  height: 70px;
  display: flex;
  justify-content: center;
  position: fixed;
}

.spanheaderprincipal {
  font-size: 25px;
  color: white;
}

.flexparagraph p {
  letter-spacing: 1.5px;
  color: white;
}

.headercontainerf {
  width: 1100px;
  height: 100%;
  display: flex;
  align-items: center;

}

.carousel-indicators button {
  background-color: #1f2336 !important;
}

.allowedb {
  cursor: pointer !important;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 104px;
  height: 104px;
  margin-top: 50px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 104px;
  height: 104px;
  margin: 8px;
  border: 8px solid rgb(6, 2, 2);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
.textsorte{
  color: black;
  font-size: 18px;
  margin-top: 50px;
  max-width: 500px;
  text-align: center;
}
.imgface{
  display: none;
  width: 100px;
  margin-top: 50px;
}
.noneloading{
  display: none;
}
.spanred{
color: red;
}
.svgtriste{
  filter: invert(15%) sepia(98%) saturate(7460%) hue-rotate(0deg) brightness(94%) contrast(113%);
}
.svgmediano{
  filter: invert(78%) sepia(37%) saturate(5768%) hue-rotate(359deg) brightness(102%) contrast(104%);
}
.svgfeliz{
  filter: invert(60%) sepia(97%) saturate(316%) hue-rotate(111deg) brightness(96%) contrast(90%);
}
.svgmuitofeliz{
  filter: invert(56%) sepia(67%) saturate(547%) hue-rotate(57deg) brightness(92%) contrast(95%);
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.startscreencontainer{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divlucky{
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: transparent;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 555;
}
.loadinglucky{
  color: black;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}
.divluckyf{
  display: flex;
}
.divh6l{
  width: 600px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

}
.flexdivlucky{
  width: 90%;
  background-color: transparent;
  height: 500px;
  display: flex;
  justify-content: center;
}
.spansorte{
  font-size: 25px;
  margin-top: 50px;
}
.spanlaranja{
  color: orange;
}
.spanfeliz{
  color: #2fd4a3;
}
.spanmuitofeliz{
  color: #4bb71b;
}
.spanred{
  color: red;
}
@media screen and (max-width:1750px) {
  .s6 {
    left: 800px;
  }

  .s4 {
    bottom: 30px;
  }

  .s9 {
    right: 100px;
  }
}

@media screen and (max-width:1500px) {
  .s2 {
    bottom: 0;
  }

  .s7 {
    right: 0;
    bottom: 100px;
  }

  .s4 {
    bottom: 40px;
  }

  .s2 {
    left: 0;
  }

  .s1 {
    left: 50px;
  }

  .s6 {
    left: 250px;
  }

  .s8 {
    left: 400px;
    bottom: 0;
  }

  .s9 {
    top: 0;
    right: 100px;
  }

  .s3 {
    left: 600px;
  }

  .thirdcmh {
    min-height: 1200px;
  }

  .icon1,
  .icon3,
  .icon4 {
    width: 45%;
  }

  .icon2 {
    width: 35%;
  }
}


@media screen and (max-width:1350px) {
  .fullsec {
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
  }

  .fulsec1 {
    width: 100%;
  }

  .gamcontainer {
    width: 90%;
    position: relative;
  }

  .fulsec2 {
    width: 90%;
    margin-top: 150px;
  }

  .pointdivsab {
    right: 0;
  }

  .pointdivsab2 {
    display: none;
  }

  .secc {
    width: 100%;
  }

  .firstfilterdiv {
    display: none;
  }


}

@media screen and (max-width:1350px) {
  .headerwidth {
    width: 90%;
  }

  .firstfilterdiv {
    display: none;
  }

  .firstpointdivsap {
    display: none;
  }

  .flexparagraph p {
    font-size: 15px;
  }
}

@media screen and (max-width:1200px) {

  .flexparagraph,
  .imgdivc {
    width: 100%;
  }

  .headercontainerf {
    width: 90%;
  }
}

@media screen and (max-width:1100px) {

  .s1,
  .s2,
  .s3,
  .s4,
  .s5,
  .s6,
  .s7,
  .s8,
  .s9 {
    display: none;
  }

  .languagesdivs {
    height: 300px;
  }

  .thirdcmh {
    min-height: 1000px;
  }

  .languagesdivsc {
    margin-top: 0;
  }
}

@media screen and (max-width:1000px) {

  .spanblue,
  .spangreen,
  .spancinza,
  .spanorange {
    font-size: 13px;
  }

  .columnf2 p {
    font-size: 90%;
  }
}

@media screen and (max-width:950px) {
  .divhlists li {
    margin-right: 10px;
    font-size: 18px;
  }

  .hamburguerdiv {
    display: block;
  }

  .divhlists {
    justify-content: flex-end;
    width: 100%;
  }

  .headerwidth {
    margin-top: 0;
  }

  .menumobiledev {
    align-items: center;
    background-color: transparent;
    transition: 0.2s all;
    width: 100%;
    margin-top: 10px;
  }

  .showmenu {
    display: flex;
  }

  .anmc {
    animation: animacao 0.2s linear !important;
  }

  @keyframes animacao {
    from {
      height: 70px;
    }

    to {
      height: 170px;
    }
  }

  .menumobiledev li {
    margin-bottom: 10px;
  }

  .ulli {
    display: none !important;
  }

  .btngrpf {
    width: 220px;
  }
}

@media screen and (max-width:800px) {
  .groupdivb button {
    width: 200px;
    font-size: 10px;
  }

  .spanmainflex {
    font-size: 18px;
    margin-top: 10px;
  }

  .mainflexc h1 {
    font-size: 60px;
  }

  .spanblue,
  .spangreen,
  .spancinza,
  .spanorange {
    font-size: 70%;
  }

  .msgform input {
    font-size: 15px;
    /* padding-left: 20px; */
  }

  .flexparagraph p {
    font-size: 13px;
  }

  .spanut {
    font-size: 15px;
  }

  .btnp {
    font-size: 15px;
  }
  .sucessboxflex{
    width: 90%;
  }
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

@media screen and (max-width:650px) {
  .fulsec2container {
    width: 90%;
  }

  .columnf2 p {
    font-size: 15px;
  }

  .pointdivsab {
    top: -20px;
  }

  .footer h4 {
    font-size: 16px;
  }

  .contactps p {
    font-size: 16px;
  }

  .flext1 p {
    font-size: 17px;
  }

  .languagesdivs {
    height: 250px;
  }

  .thirdcmh {
    min-height: 800px;
  }

  .icon1,
  .icon3,
  .icon4 {
    width: 50%;
  }

  .icon2 {
    width: 45%;
  }

  .butaum {
    width: 250px;
  }

  .spanmainflex {
    font-size: 16px;
  }

}
@media screen and (max-width:600px) {
  .divh6l{
    width: 100%;
  }
  .textsorte{
    font-size: 15px;
    max-width: 90%;
  }
  .loadinglucky{
    font-size: 25px;
  }
  .spansorte{
    font-size: 20px;
  }
  .imgface{
    width: 80px;
  }
  .lds-ring{
    width: 80px;
    height: 80px;
  }
  .lds-ring div{
    width: 80px;
    height: 80px;
  }
  .loadinglucky{
    margin-top: 70px;
  }
  .flexdivlucky{
    height: 500px;
  }
  .textsorte{
    margin-top: 20px;
  }
}
@media screen and (max-width:550px) {
  .gridprojects {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 70px;
  }

  /* .mainflexch1{
    font-size: 50px;
  } */
  .groupdivb button {
    width: 150px;
    margin-right: 15px;
  }

  .spanmainflex {
    max-width: 90%;
    width: auto;
    text-align: center;
  }

  .mainflexc h1 {
    font-size: 45px;
  }

  .thirdcmh h1 {
    font-size: 25px;
  }

  .fourthc h1 {
    font-size: 25px;
  }

  .secc h1 {
    padding-bottom: 0;
  }

  .groupdivb {
    margin-top: 15px;
  }

  .button-74 {
    font-size: 15px !important;
  }

  .divprjtsf {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .divprjtsf h1 {
    font-size: 25px;
  }

  .divgamct h3 {
    font-size: 27px;
  }

  .fulsec2 {
    margin-top: 120px;
  }

  .columnf1 {
    width: 5%;
  }

  .bolacheck {
    width: 20px;
    height: 20px;
  }

  .bolacheckn {
    width: 20px;
    height: 20px;
  }

  .bolacheck img {
    width: 13px;
  }

  .columnf2 {
    width: 70%;
  }

  .columnf2 p {
    font-size: 15px;
  }

  .columnf3 {
    width: 25%;
    display: flex;
    align-items: center;
  }

  .enddiv {
    margin-top: 10px;
  }

  .icon1,
  .icon3,
  .icon4 {
    width: 80%;
  }

  .icon2 {
    width: 70%;
  }

  .onebuttonform input {
    width: 50%;
  }

  .footer1 h4 {
    width: auto;
    max-width: 160px;
    text-align: center;
  }

  .quadradocontainer {
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }

  .quadradocontainer img {
    width: 25px;
    height: 25px;
  }

  .foragrid {
    bottom: -40px;
    text-align: center;
  }

  .flexparagraph p {
    font-size: 11px;
  }

  .spanut {
    font-size: 13px;
  }

  :root {
    --swiper-navigation-size: 24px !important;
  }

  .btnp {
    height: 45px;
    font-size: 15px !important;
    line-height: 0;
  }

  .imgdivc img {
    height: 200px;
    width: 100%;
  }
  .paragraphmsgemail{
    text-align: center;
  }
}

@media screen and (max-width:450px) {

  .mainflexc h1 {
    font-size: 40px;
  }

  .columnf3 {
    width: 20%;
  }

  .columnf2 {
    width: 75%;
  }

  .columnf2 p {
    font-size: 14px;
  }

  .statusdiv span {
    font-size: 10px;
    text-align: center;
    font-weight: 700;
  }

  .columnf1 {
    width: 10%;
  }

  .flext1 p {
    font-size: 16px;
  }

  .languagesdivs {
    height: 200px;
  }

  .adcbutton {
    width: 60px;
    height: 60px;
  }

  .adcbutton img {
    width: 20px;
  }

  .gridprojects {
    gap: 20px;
    row-gap: 60px;
  }

  .btnp {
    width: 200px;
  }
  .marginrito{
    margin-right: 20px;
  }
  .onerowform{
    margin-top: 15px;
  }
}

@media screen and (max-width:390px) {
  .columnf2 p {
    font-size: 12px;
  }

  .mainflexc h1 {
    font-size: 35px;
  }

  .titlechild {
    font-size: 25px;
  }
  .flexdivlucky{
    height: 400px;
  }
  .fecharsvg{
    width: 20px;
  }
  .loadinglucky{
    margin-top: 50px;
  }
  .spansorte{
    margin-top: 15px;
  }
}

@media screen and (max-width:375px) {
  .titlechild {
    font-size: 25px;
    text-align: center;
  }
  .divprjtsf h1{
    font-size: 20px;
  }
  .thirdcmh h1{
    font-size: 20px;
  }
  .fourthc h1{
    font-size: 20px;
  }
}

@media screen and (max-width:359px) {
  .footer1 h4 {
    font-size: 13px;
  }

  .mainflexc h1 {
    font-size: 30px;
  }
  .gridprojects{
    grid-template-columns: repeat(1, 1fr);
  }
}